@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.0/css/ionicons.min.css");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(../../images/background.jpg);
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

/* nav style start */
.mainNav {
  background: #343a40;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.mainNav .logo {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border: 3px solid #83A1CD;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.mainNav .logo img {
  width: 100%;
  height: 100%;
}
.mainNav ul li {
  display: inline-block;
  margin-left: 7px;
}
.mainNav ul li a {
  text-decoration: none;
  padding: 5px;
  color: #cccccc;
}
.mainNav ul li a.active {
  color: #ffffff;
}

/* nav style end */
/* layout style start */
.layout {
  margin-top: 60px;
}

/* layout style end */
/* pageHeading style start */
.pageHeading {
  padding: 50px 0;
}
.pageHeading h1 {
  color: #343a40;
  font-size: 4rem;
  font-weight: 500;
  position: relative;
}
.pageHeading h1::first-letter {
  color: #83A1CD;
  font-size: 4rem;
}
.pageHeading h1 span {
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  font-size: 6rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(52, 58, 64, 0.2);
}
.pageHeading p {
  font-weight: 300;
}

/* pageHeading style end */
/* social style start */
.social {
  margin-bottom: 1rem;
}
.social li {
  display: inline-block;
}
.social li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #343a40;
  color: #ffffff;
  font-size: 25px;
  line-height: 1;
  border-radius: 30%;
  transition: all 0.2s;
}
.social li a:hover {
  transform: translateY(-3px);
}

/* social style end */
/* homepage style start */
.homepage {
  padding: 50px 0;
  display: flex;
  align-items: center;
  min-height: calc(100vh - 60px);
  overflow: hidden;
}
.homepage .about_btn {
  background: #343a40;
  color: #ffffff;
  display: inline-block;
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.4s;
}
.homepage .about_btn:hover {
  transform: translateX(5px);
}
.homepage .homeSlider .swiper-slide {
  border-radius: 18px;
}
.homepage .homeSlider .swiper-slide img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 992px) {
  .homepage .homeSlider {
    margin-top: 50px;
  }
}
/* homepage style end */
/* aboutArea style start */
.aboutArea {
  padding-bottom: 50px;
}
.aboutArea .image {
  margin-bottom: 30px;
}
.aboutArea .image img {
  width: 100%;
  border-radius: 12px;
}
.aboutArea .description .name {
  font-weight: 600;
  color: #343a40;
}
.aboutArea .description .designation {
  font-weight: 600;
}
.aboutArea .description .designation a {
  text-decoration: none;
}
.aboutArea .description .designation a:hover {
  text-decoration: underline;
}

/* aboutArea style end */
/* skillArea style start */
.bg_spacing {
  height: 45px;
  background-image: linear-gradient(#fff, #efefef);
}

.skillArea {
  background: url(../images/skill_bg.png);
  padding: 50px 0;
}
.skillArea .heading {
  padding-bottom: 30px;
}
.skillArea .heading h2 {
  border-bottom: 1px solid rgba(52, 58, 64, 0.15);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: #343a40;
}
.skillArea .skillContent h4 {
  color: #343a40;
  font-weight: 600;
  border-bottom: 1px solid rgba(52, 58, 64, 0.15);
  padding-bottom: 1rem;
}
.skillArea .skillContent .skillItem {
  background-color: #ffffff;
  transition: all 0.4s ease;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.skillArea .skillContent .skillItem:hover {
  box-shadow: 0 42px 60px 0 rgba(0, 0, 0, 0.15);
  transform: translate3d(0, -10px, 0);
}
.skillArea .skillContent .skillItem span {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

/* skillArea style end */
/* portfolio style start */
.portfolio .portfolioItem {
  position: relative;
  height: 265px;
  display: block;
  margin-bottom: 1.5rem;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
}
.portfolio .portfolioItem::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 58, 64, 0.15);
  z-index: 1;
  transition: all 0.5s;
}
.portfolio .portfolioItem:hover::after {
  background: rgba(52, 58, 64, 0.5);
}
.portfolio .portfolioItem:hover .textArea {
  bottom: 30%;
}
.portfolio .portfolioItem .image {
  height: 100%;
  width: 100%;
}
.portfolio .portfolioItem .image img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  object-position: top;
}
.portfolio .portfolioItem .textArea {
  position: absolute;
  left: 20px;
  bottom: 20px;
  max-width: calc(100% - 40px);
  background: rgba(52, 58, 64, 0.5);
  border-radius: 12px;
  padding: 5px 10px;
  color: #ffffff;
  z-index: 2;
  transition: all 0.4s;
}
.portfolio .portfolioItem .textArea h6 {
  margin-bottom: 5px;
}
.portfolio .portfolioItem .textArea p {
  font-size: 12px;
  margin: 0;
}

/* portfolio style end */
/* portfolioHeading style start */
.portfolioHeading {
  padding: 50px 0;
}
.portfolioHeading h1 {
  color: #343a40;
}
.portfolioHeading p {
  font-weight: 300;
}
.portfolioHeading img {
  transition: all 0.3s;
}
.portfolioHeading img:hover {
  transform: scale(1.1);
}

/* portfolioHeading style end */
/* project_details style start */
.portfolioSlider {
  margin-bottom: 1.5rem;
}
.portfolioSlider img {
  width: 100%;
  height: auto;
}
.portfolioSlider .swiper-pagination {
  bottom: 0;
  padding: 10px 0;
  background: linear-gradient(to top, rgba(52, 58, 64, 0.5), transparent);
}
.portfolioSlider .swiper-pagination .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  border: 1px solid #ffffff;
  background: transparent;
  opacity: 1;
}
.portfolioSlider .swiper-pagination .swiper-pagination-bullet-active {
  background: #ffffff;
}

.project_details .description {
  margin-bottom: 1.5rem;
  position: relative;
  padding-top: 10px;
}
.project_details .description::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 2px;
  background: #83A1CD;
}
.project_details .description h5 {
  font-weight: 600;
  color: #343a40;
}
.project_details .description p {
  font-size: 15px;
  color: #343a40;
}
.project_details .description h6 {
  font-weight: 600;
  color: #343a40;
}
.project_details .description h6 a {
  color: #83A1CD;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 500;
}
.project_details .description h6 a:hover {
  color: #56606a;
}
.project_details .description h6 span {
  font-weight: 400;
}
.project_details .technology {
  position: relative;
  margin-bottom: 1.5rem;
  padding-top: 10px;
}
.project_details .technology::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 2px;
  background: #83A1CD;
}
.project_details .technology h6 {
  font-weight: 600;
  color: #343a40;
}
.project_details .technology span {
  display: inline-block;
  background: #83A1CD;
  color: #ffffff;
  font-size: 13px;
  line-height: 1;
  padding: 0.25em 0.4em;
  border-radius: 0.25rem;
}

/* project_details style end */
/* contact start */
.contactDetails .item {
  display: flex;
  margin-bottom: 15px;
}
.contactDetails .item .icon {
  margin-right: 15px;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(52, 58, 64, 0.5);
  border-radius: 10px;
  color: #343a40;
}
.contactDetails .item .icon i {
  font-size: 25px;
}
.contactDetails .item h6 {
  color: black;
  margin-top: 3px;
}
.contactDetails .item h6 a {
  color: black;
  text-decoration: none;
  transition: all 0.1s;
}
.contactDetails .item h6 a:hover {
  color: #343a40;
}
.contactDetails .item p {
  font-size: 14px;
  font-weight: 300;
  color: #4b545c;
}

.contactForm h4 {
  color: #343a40;
  margin-bottom: 20px;
}
.contactForm label {
  margin-bottom: 8px;
  color: black;
  font-weight: 500;
}
.contactForm input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #88939e;
  font-size: 14px;
  padding-bottom: 3px;
  background: transparent;
}
.contactForm input:-webkit-autofill, .contactForm input:-webkit-autofill:hover, .contactForm input:-webkit-autofill:focus, .contactForm input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.contactForm textarea {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #88939e;
  font-size: 14px;
  padding-bottom: 3px;
  background: transparent;
}
.contactForm button {
  display: inline-block;
  padding: 0.4em 1.8em;
  border-radius: 30px;
  border: 1px solid #7a8793;
  color: #4b545c;
  transition: all 0.2s;
  background: none;
}
.contactForm button:hover {
  color: #7a8793;
}

/* contact end */

/*# sourceMappingURL=master.css.map */
